DATABASE_URL="file:./data/fs-service.db"
SESSION_SECRET="ganti-dengan-random-minimal-32-karakter"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123"
TZ="Asia/Jakarta"
NEXT_PUBLIC_APP_URL="https://servis.fscomp.id"
